.cartitem-wrapper
  display flex
  width 100%
  padding 10px 0 10px 0
  border-bottom 1px solid #eee
  .check-box
    width 10%
    display flex
    justify-content center
    align-items center
  .image-box
    width 20%
    img
      width 100%
  .content-box
    width 70%
    display flex
    flex-direction column
    justify-content space-around
    .title
      font-size 20px
      font-weight 700px
      overflow hidden
      text-overflow ellipsis
      white-space nowrap
    .goods-desc
      overflow hidden
      text-overflow ellipsis
      white-space nowrap
    .price-box
      overflow hidden
      .price
        float left
      .count
        float right
