.topbar-wrapper
  position fixed
  top 0
  left 0
  right 0
  display flex
  height 45px
  .topbar-left, .topbar-right
    width 65px
    height 100%
    img
      margin-top 12px
      margin-left 12px
  .topbar-center
    flex 1
    display: flex
    justify-content center
    align-items center
    div
      flex 1
      height 45px
      line-height 45px
      text-align center
      font-size 16px
